.circles {
  text-indent: -9999px;
  width: 600px;
  height: 400px;
  background: url(/images/circles-2.svg);
  background-size: 600px 400px;
  position: absolute;
  left: -150px;

}

#homepage_camera {
  position: relative;
  margin: 0 auto;
  display: block;
  bottom: 10px;
}

.home-text {
  h1 {
    color: $black;
  }
  p {
    color: $pinkish-grey;
    font-size: 14px;
  }
  max-width: 420px;
}

#home-carousel {

  .span-align {
    padding-left: 20px;
    margin-bottom: 10px;
    span {
      font-size: 14px;
      font-weight: bold;
      color: $golden-yellow;
    }
  }
  ul {
    text-align: center;
  }
  li {
    text-align: left;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.home-wrapper {
  background-color: $grey;
  width: 100%;
  .text-wrapper {
    text-align: center;
    width: 100%;
    color: $black;

    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.home-installatie {

  color: $black;

  p {
    max-width: 488px;

    color: $pinkish-grey;
  }

}