footer {
  background-color: $grey;
  ul {
    li {
      font-size: 12px;
      font-weight: 500;
      color: $black;
      list-style: none;

      ul {
        padding: 0;
        li {
          a, a:hover, a:active {
            color: black;
          }
          font-size: 12px;
          color: $black;
          list-style: none;
        }
      }
    }
  }
  .footer-wrapper {
    text-align: center;

    span {
      font-size: 10px;
      color: $black;
      a, a:hover, a:active {
        color: black;
      }
    }
  }
}